@model Aplicacion.Models.PublicacionTinderdog

<div class="container">
    <div class="Card">
        <div class="card-1">
            @if (Model.Fotos.Count() != 0)
            {
                <div id="carouselExampleIndicators@(Model.Id)" class="carousel slide" data-bs-ride="true">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators@(Model.Id)" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1" style="width: 100%;"></button>
                        @for (int i = 1; i < Model.Fotos.Count; i++)
                        {
                            <button type="button" data-bs-target="#carouselExampleIndicators@(Model.Id)" data-bs-slide-to="@(i)" aria-label="Slide @(i + 1)" style="width: 100%;"></button>
                        }
                    </div>
                    <div class="carousel-inner" style="border-radius: 10%;">
                        <div class="carousel-item active">
                            <img src="~/img/@(Model.Fotos.ElementAt(0).Foto)" class="d-block w-100" alt="@(Model.Fotos.ElementAt(0).Foto)">
                        </div>
                        @for (int i = 1; i < Model.Fotos.Count; i++)
                        {
                            <div class="carousel-item">
                                <img src="~/img/@(Model.Fotos.ElementAt(i).Foto)" class="d-block w-100" alt="@(Model.Fotos.ElementAt(i).Foto)">
                            </div>
                        }
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators@(Model.Id)" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators@(Model.Id)" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            }
            else
            {
                <h1 class="fw-bolder">
                    Sin fotos
                    <img src="~/img/defaultCandidato.jpg" class="card-img-top" alt="LogoPerroDefault" style="border-radius: 5%;">
                </h1>
            }
        </div>
        <div class="right">
            <div class="card-2">
                <h2 class="fw-bolder">
                    @Model.Perro.Nombre
                </h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card-3">
                        <p>
                            <strong>
                                Fecha de nacimiento:
                            </strong>
                            @Model.Perro.FechaDeNacimiento.ToShortDateString() (@(DateTime.Today.Year - Model.Perro.FechaDeNacimiento.Year) años)
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card-3">
                        <p>
                            <strong>
                                Sexo:
                            </strong>
                            @Model.Perro.Sexo
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card-3">
                        <p>
                            <strong>
                                Raza:
                            </strong>
                            @Model.Perro.Raza
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card-3">
                        <p>
                            <strong>
                                Color:
                            </strong>
                            @Model.Perro.Color
                        </p>
                    </div>
                </div>
            </div>
            @if(Model.Perro.Sexo == "Hembra")
            {
                <div class="card-3">
                    <p>
                        <strong>
                            Fecha de último celo:
                        </strong>
                        @Model.Perro.Celo?.ToShortDateString()
                    </p>
                </div>
            }
            <div class="card-3">
                <p>
                    <strong>
                        Descripción de la publicación:
                    </strong>
                    <br />
                    @Model.Descripcion
                </p>
            </div>
            <div class="bottom">
                <div class="card-4">
                    @if (Model.Perro.Sexo == "Hembra")
                    {
                        <button class="btn btn-primary" onclick="ObtenerPublicacion(@(Model.Id), 'ModalHembra')">
                            Editar
                            <i class="fa-solid fa-pencil"></i>
                        </button>
                    }
                    else
                    {
                        <button class="btn btn-primary" onclick="ObtenerPublicacion(@(Model.Id), 'ModalMacho')">
                            Editar
                            <i class="fa-solid fa-pencil"></i>
                        </button>
                    }
                </div>
                <div class="card-4">
                    
                </div>
                <div class="card-4">
                    
                </div>
            </div>
        </div>
    </div>
</div>

