@model List<Aplicacion.Models.Perro>

@if(Model.Count() == 2)
{
    <!--Este candidato queda oculto detras-->
    <div class="card" style="position: absolute;">
        <div class="filtro"></div> <!-- Capa para el filtro oscuro -->
        <div class="Carta">
            @if (Model[1].Foto != null)
            {
                <img src="/img/@Model[1].Foto" alt="FotoDePerfil" width="400" height="400">
                <p class="card-text">
                    <strong style="font-size: 40px; color: #FFFFFF;">
                        @Model[1].Nombre, @(DateTime.Today.Year - Model[1].FechaDeNacimiento.Year)
                    </strong>
                </p>
            }
            else
            {
                <img src="~/img/LogoPerroDefault.jpg" alt="LogoPerroDefault">
                <p class="card-text">
                    <strong style="font-size: 30px; color: #000000;">
                        @Model[1].Nombre, @(DateTime.Today.Year - Model[1].FechaDeNacimiento.Year)
                    </strong>
                </p>
            }
        </div>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading@(Model[1].Id)">
                    <button class="accordion-button collapsed" style="background-color: aliceblue;" type="button" data-bs-toggle="collapse" data-bs-target="#collapse@(Model[1].Id)" aria-expanded="false" aria-controls="collapse@(Model[1].Id)">
                    </button>
                </h2>
                <div id="collapse@(Model[1].Id)" class="accordion-collapse collapse" aria-labelledby="heading@(Model[1].Id)" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>
                            @Model[1].Raza
                            <br>
                            @Model[1].Color
                            <br>
                            @Model[1].Observaciones
                        </strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-center">
            <button class="btn btn-lg btn-light" type="button" style="background-color: #FFFFFF; border-radius: 50%; padding: 15px !important; margin-right: 20px;">
                <i class="fa-solid fa-xmark fa-2xl" style="color: #dc3545;"></i>
            </button>
            <button class="btn btn-lg btn-light" type="button" style="background-color: #FFFFFF; border-radius: 50%; padding: 15px !important;">
                <i class="fa-solid fa-heart fa-2xl" style="color: #4dcc93;"></i>
            </button>
        </div>
    </div>

    <!--Este candidato queda delante para su interaccion-->
    <div class="card" id="Candidato">
        <div class="Carta">
            @if (Model[0].Foto != null)
            {
                <img src="/img/@Model[0].Foto" alt="FotoDePerfil" width="400" height="400">
                <p class="card-text">
                    <strong style="font-size: 40px; color: #FFFFFF;">
                        @Model[0].Nombre, @(DateTime.Today.Year - Model[0].FechaDeNacimiento.Year)
                    </strong>
                </p>
            }
            else
            {
                <img src="~/img/LogoPerroDefault.jpg" alt="LogoPerroDefault">
                <p class="card-text">
                    <strong style="font-size: 30px; color: #000000;">
                        @Model[0].Nombre, @(DateTime.Today.Year - Model[0].FechaDeNacimiento.Year)
                    </strong>
                </p>
            }
        </div>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading@(Model[0].Id)">
                    <button class="accordion-button collapsed" style="background-color: aliceblue;" type="button" data-bs-toggle="collapse" data-bs-target="#collapse@(Model[0].Id)" aria-expanded="false" aria-controls="collapse@(Model[0].Id)">
                    </button>
                </h2>
                <div id="collapse@(Model[0].Id)" class="accordion-collapse collapse" aria-labelledby="heading@(Model[0].Id)" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>
                            @Model[0].Raza
                            <br>
                            @Model[0].Color
                            <br>
                            @Model[0].Observaciones
                        </strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-center">
            <button class="btn btn-lg btn-light" type="button" id="BtnNoMegusta" value="@Model[0].Id" onclick="NoMeGusta()" style="background-color: #FFFFFF; border-radius: 50%; padding: 15px !important; margin-right: 20px;">
                <i class="fa-solid fa-xmark fa-2xl" style="color: #dc3545;"></i>
            </button>
            <button class="btn btn-lg btn-light" type="button" id="BtnMeGusta" value="@Model[0].Id" onclick="MeGusta()" style="background-color: #FFFFFF; border-radius: 50%; padding: 15px !important;">
                <i class="fa-solid fa-heart fa-2xl" style="color: #4dcc93;"></i>
            </button>
        </div>
    </div>
}
else if (Model.Count() == 1)
{
    <!--Este candidato queda delante para su interaccion-->
    <div class="card" id="Candidato">
        <div class="Carta">
            @if (Model[0].Foto != null)
            {
                <img src="/img/@Model[0].Foto" alt="FotoDePerfil" width="400" height="400">
                <p class="card-text">
                    <strong style="font-size: 40px; color: #FFFFFF;">
                        @Model[0].Nombre, @(DateTime.Today.Year - Model[0].FechaDeNacimiento.Year)
                    </strong>
                </p>
            }
            else
            {
                <img src="~/img/LogoPerroDefault.jpg" alt="LogoPerroDefault">
                <p class="card-text">
                    <strong style="font-size: 30px; color: #000000;">
                        @Model[0].Nombre, @(DateTime.Today.Year - Model[0].FechaDeNacimiento.Year)
                    </strong>
                </p>
            }
        </div>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading@(Model[0].Id)">
                    <button class="accordion-button collapsed" style="background-color: aliceblue;" type="button" data-bs-toggle="collapse" data-bs-target="#collapse@(Model[0].Id)" aria-expanded="false" aria-controls="collapse@(Model[0].Id)">
                    </button>
                </h2>
                <div id="collapse@(Model[0].Id)" class="accordion-collapse collapse" aria-labelledby="heading@(Model[0].Id)" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>
                            @Model[0].Raza
                            <br>
                            @Model[0].Color
                            <br>
                            @Model[0].Observaciones
                        </strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-center">
            <button class="btn btn-lg btn-light" type="button" id="BtnNoMegusta" value="@Model[0].Id" onclick="NoMeGusta()" style="background-color: #FFFFFF; border-radius: 50%; padding: 15px !important; margin-right: 20px;">
                <i class="fa-solid fa-xmark fa-2xl" style="color: #dc3545;"></i>
            </button>
            <button class="btn btn-lg btn-light" type="button" id="BtnMeGusta" value="@Model[0].Id" onclick="MeGusta()" style="background-color: #FFFFFF; border-radius: 50%; padding: 15px !important;">
                <i class="fa-solid fa-heart fa-2xl" style="color: #4dcc93;"></i>
            </button>
        </div>
    </div>
}
else
{
    <!--No hay sugerencias para visualizar-->
    <div class="card" style="background-color: rgba(0, 0, 0, 0.5); margin-top: 50px;">
        <div class="card-body">
            <h3 class="card-title"> </h3>
            <p class="card-text">
                <div class="text-center alert alert-info" role="alert">
                    <h3>
                        No hay sugerencias para ofrecer
                    </h3>
                </div>
            </p>
        </div>
        <div class="card-footer text-center">
        </div>
    </div>
}

