@model IEnumerable<Aplicacion.Models.Cuidadore>

@{
    ViewData["Title"] = "Index";
}
<head>
    <link rel="stylesheet" href="~/css/opcionesMapa.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/map.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
          integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />

    
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
        integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
    
   <link
  rel="stylesheet"
  href="https://unpkg.com/leaflet-geosearch@3.0.0/dist/geosearch.css"
/>

</head>



<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div id="mostrarCargar">
<div class="container-fluid">
<div id="map"></div>
</div>
@foreach (var item in Model){
<div id="@item.Id" class="card d-none d-flex flex-column text-center align-self-center">



                <div class="d-flex justify-content-center">
                <img src="@item.Foto" class="align-self-center  w-50" alt="1era img carousel">
                </div>


                    <div class="card-body text-center container-fluid">

                    <h5 class="card-title">@item.Nombre @item.Apellido</h5>
                    <p class="card-text">Soy el paseador mas bueno del condado. Contactame!</p>
                    <a href="#" class="btn btn-primary opcionContacto">Contactar</a>
                            <a class="btn  btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </div>
                </div>
                }
    
                
 </div>
                @section Scripts{
        <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
            integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
    
                    <script src="https://unpkg.com/leaflet-geosearch@3.0.0/dist/geosearch.umd.js"></script>

    
                    
                    
                    
                    
                    
                    
<script> 





let mapOptions = {
    center: [-34.9, -57.9597539],
    zoom: 13,
    zoomControl: true
}

let map = new L.map('map', mapOptions);

let layer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');
map.addLayer(layer);

let customIcon = {
    iconUrl: "dog.svg",
    iconSize: [75, 75],

}
   

//let myIcon = L.divIcon();

    let myIcon = L.icon(customIcon);
                $.ajax({  
                type: "GET",  
                url: 'Cuidadores/obtenerCuidadores',  
                data: {},  
                dataType: "json",  
             
                success: function (response) {  
                           
                    // Looping over emloyee list and display it  
                    $.each(response, function (index, cuidador) {  

                                let iconOptions = {
                                title: cuidador.Nombre,
                                draggable: false,
                                icon: myIcon
                                }
                            let marker = new L.Marker([cuidador.Latitud, cuidador.Longitud], iconOptions);
                            marker.addTo(map);
                            marker.bindPopup(document.getElementById(cuidador.Id).innerHTML);
                        });
                        },
                        failure: function (jqXHR, textStatus, errorThrown) {
                            alert("HTTP Status: " + jqXHR.status + "; Error Text: " + jqXHR.responseText); // Display error message
                        }
                    });
     
    </script>
    }
