@model List<Aplicacion.Models.Adopciones>


@if (Model.Count() == 0)
{
    <div class="text-center alert alert-info mt-5 mb-5" role="alert">
        <h3>¡Todavia no tienes ninguna adopción publicada para visualizar!</h3>
    </div>
}
else{
    <div class="container">
        <div class="row">
            @foreach (var adopcion in Model)
            {
                <div class="col-md-3">
                    <div class="container-card shadow-lg">
                        <div class="card mt-4 mb-4 @(adopcion.Estado == 1 ? "card-adoptado" : "" )" data-adopcion-id="@adopcion.Id">
                            @if(adopcion.Estado == 1)
                            {
                                <img src="~/img/publicarAdopcion-icon.png" class="img-fluid mx-auto mt-2" style="width:8rem; height:8rem">
                            }
                            else
                            {
                                <img src="~/img/icon-adopcion-card.png" class="img-fluid mx-auto mt-2" alt="..." style="width:8rem; height:8rem">
                            }
                            <div class="card-body">
                                <h5 class="card-title text-center nombre">@adopcion.Nombre.ToUpper() @(adopcion.Estado == 1 ? "(ADOPTADO)" : "")</h5>
                                <p class="card-text"><strong>Email del publicador:</strong> @adopcion.Email</p>
                                <p class="card-text tamano"><strong>Tamaño:</strong> @adopcion.Tamano</p>
                                <p class="card-text raza"><strong>Raza:</strong> @adopcion.Raza</p>
                                <p class="card-text sexo"><strong>Sexo:</strong> @adopcion.Sexo</p>
                                <p class="card-text color"><strong>Color:</strong> @adopcion.Color</p>
                                <p class="card-text descripcion"><strong>Descripción:</strong> @adopcion.Descripcion</p>
                            </div>
                            <div class="card-footer d-flex justify-content-center">
                                <div class="d-flex gap-3">
                                    @if (adopcion.Estado == 0)
                                    {
                                        <button class="btn btn-custom adoptar-btn" data-adopcion-id="@adopcion.Id" data-toggle="tooltip" data-placement="top" title="Marcar como Adoptado">
                                            <i class="bi bi-house-add"></i>
                                        </button>
                                        <button class="btn btn-warning modificar-btn" data-toggle="tooltip" data-placement="top" title="Modificar">
                                            <i class="bi bi-pencil-square"></i>
                                        </button>
                                    }
                                    @if (adopcion.Baja == 0)
                                    {
                                        <button class="btn btn-danger eliminar-btn" data-toggle="tooltip" data-placement="top" title="Eliminar">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}