@model Aplicacion.Models.Usuarios

@if (Model.GetPerros.Count != 0)
{
    <div class="container-fluid" style="padding-right: 200px; padding-left: 200px; padding-bottom: 100px;">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            @foreach (var item in Model.GetPerros)
            {
                <div class="col">
                    <div class="card h-100 shadow-lg">
                        @if(item.Foto != null)
                        {
                            <img src="/img/@item.Foto" class="card-img-top" alt="LogoPerroDefault">
                        }else{
                            <img src="~/img/LogoPerroDefault.jpg" class="card-img-top" alt="LogoPerroDefault">
                        }
                        <div class="card-body">
                            <h3 class="card-title">@item.Nombre</h3>
                            <p class="card-text">
                                <strong>Raza: </strong>@item.Raza
                                <br>
                                <strong>Sexo: </strong>@item.Sexo
                                <br>
                                <strong>Color: </strong>@item.Color
                                <br>
                                <strong>Peso: </strong>@item.Peso Kg.
                                <br>
                                <strong>Fecha de nacimiento: </strong>@item.FechaDeNacimiento.ToString("dd/MM/yy")
                                <br>
                                <strong>Estado:</strong>
                                @if (item.Estado){
                                    <span class="badge text-bg-success">Activo</span>
                                }else{
                                    <span class="badge text-bg-danger">Inactivo</span>
                                }
                                <br>
                                <strong>Observaciones: </strong>@item.Observaciones
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <button class="btn btn-primary" type="button" onclick="ObtenerPerro(@item.Id)" style="margin-top: 5px;">
                                <i class="fa-solid fa-pencil"></i>
                                Editar
                            </button>
                            <a asp-controller="Perros" asp-action="HistoriaClinica" asp-route-idPerro="@item.Id" class="btn btn-success" type="button" style="margin-top: 5px;">
                                <i class="fa-solid fa-folder"></i>
                                Historia clínica
                            </a>
                            <a asp-controller="Perros" asp-action="CalendarioDeVacunas" asp-route-idPerro="@item.Id" class="btn btn-dark" type="button" style="margin-top: 5px;">
                                <i class="fa-solid fa-file-medical"></i>
                                Libreta sanitaria
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
else
{
    <div class="text-center alert alert-info" role="alert">
        <h3>
            Aún no hay perros registrados para el cliente
        </h3>
    </div>
}
