@model List<Aplicacion.Models.Perdidas>


@if (Model.Count() == 0)
{
    <div class="text-center alert alert-info mt-5 mb-5" role="alert">
        <h3>Aún no has publicado de perros perdidos</h3>
    </div>
}
else{
    <div class="container">
        <div class="row">
            @foreach (var perdida in Model)
            {
                <div class="col-md-3">
                    <div class="container-card shadow-lg">
                        <div class="card mt-4 mb-4 @(perdida.Estado == 1 ? "card-recuperado" : "" ) Foto" data-perdida-id="@perdida.Id">
                            @if (perdida.Estado == 1)
                            {
                                @if (perdida.Foto != null)
                                {
                                    <img src="~/img/@perdida.Foto" class="img-fluid mx-auto mt-2" style="width:8rem; height:8rem; border-radius: 10%;">
                                }
                                else
                                {
                                    <img src="~/img/perroRecuperado.png" class="img-fluid mx-auto mt-2" style="width:8rem; height:8rem; border-radius: 10%;">
                                }
                            }
                            else
                            {
                                @if (perdida.Foto != null)
                                {
                                    <img src="~/img/@perdida.Foto" class="img-fluid mx-auto mt-2" style="width:8rem; height:8rem; border-radius: 10%;">
                                }
                                else
                                {
                                    <img src="~/img/perroPerdido.png" class="img-fluid mx-auto mt-2" style="width:8rem; height:8rem; border-radius: 10%;">
                                }
                            }
                            <div class="card-body">
                                <h4 class="card-title text-center nombrePerro" id="nombrePerro">
                                    @{
                                        string nombre = perdida.Nombre[0].ToString().ToUpper() + perdida.Nombre.Substring(1).ToLower();
                                        if (perdida.Estado == 1)
                                        {
                                            <p>
                                                @(nombre + " (RECUPERADO)")
                                            </p>
                                        }
                                        else
                                        {
                                            <p>
                                                @nombre
                                            </p>
                                        }
                                    }
                                </h4>
                                <p class="card-text email"><strong>Email del publicador:</strong> @perdida.Email</p>
                                <p class="card-text fechaPerdida"><strong>Visto última vez:</strong> @perdida.FechaPerdida.ToString("yyyy-MM-dd")</p>
                                <p class="card-text raza"><strong>Raza:</strong> @perdida.Raza</p>
                                <p class="card-text sexo"><strong>Sexo:</strong> @perdida.Sexo</p>
                                <p class="card-text color"><strong>Color:</strong> @perdida.Color</p>
                                <p class="card-text peso"><strong>Peso:</strong> @perdida.Peso (en Kg.)</p>
                                <p class="card-text descripcion"><strong>Descripción:</strong> @perdida.Descripcion</p>
                            </div>
                            <div class="card-footer d-flex justify-content-center">
                                <div class="d-flex gap-3">
                                    @if (perdida.Estado == 0)
                                    {
                                        <button class="btn btn-custom recuperar-btn" data-perdida-id="@perdida.Id"
                                                data-bs-toggle="tooltip" data-bs-placement="bottom"
                                                data-bs-custom-class="tooltip-Recuperado"
                                                data-bs-title="Recuperado">
                                            <i class="bi bi-house-add"></i>
                                        </button>
                                        <button class="btn btn-warning modificar-btn" value="@perdida.Id"
                                                data-bs-toggle="tooltip" data-bs-placement="bottom"
                                                data-bs-custom-class="tooltip-Modificar"
                                                data-bs-title="Modificar">
                                            <i class="bi bi-pencil-square"></i>
                                        </button>
                                    }
                                    @if (perdida.Baja == 0)
                                    {
                                        <button class="btn btn-danger eliminar-btn"
                                                data-bs-toggle="tooltip" data-bs-placement="bottom"
                                                data-bs-custom-class="tooltip-Eliminar"
                                                data-bs-title="Eliminar">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}